.App {
    text-align: center;
    margin: 40px auto;
}

body {
    background-color: #192A51;
    display: block;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

  