.navbar nav {
    display: flex;
    gap: 16px;
    justify-content: end;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar nav h1 {
    margin-right: auto;
    border-bottom: 3px solid pink;
}

.navbar nav a {
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
}

.navbar nav a.active {
    background: purple;
}