.wrapper {
    width: 80%;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.navbar nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.navbar__home {
    margin: 2rem;
    margin-right: auto;
    border-bottom: 3px solid #D7BA89;
}

.navbar a {
    text-decoration: none;
    padding: 1.25rem;
    border-radius: 4px;
    transition: 250ms ease-in-out;
    color: white;
    border-radius: 5%;
}

.navbar a:hover {
    background: #8B9EB7;
    color: black;
}

body {
    background-color: #192A51;
    display: block;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}